.gridContainer {
  border: 1px solid tomato;
  overflow: hidden;
  width: 200px;
  height: 400px;
  position: relative;
}
.gridItem {
  border: 1px solid black;
  text-align: center;
  position: absolute;
  width: 20px;
  height: 20px;
}
.expand {
  width: 230px;
}
